table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    

  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  th{
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .management-shop-table{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 
  }

  .data-table{
    overflow: auto;
    height: 300px;
    width: 70%;
  }

  /* .table-head{
    position: fixed;
  } */
