.nav-container{
  position: fixed;
  background-color: #F1F3F2;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9;

}

.nav{
  padding: 1%;
  margin-bottom: auto;
  margin-top: 0.2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#0050B6;
  width: 80%;

}
.nav > h1{
  font-size: 2.2rem;
}




  .nav-icon{
    display: flex;

  }
  .btn-navigate{
    display: flex;
    justify-content: space-around;
    

  }
  .btn-nav{
    border: 0px;
    color: black;
    font-size: 1.2rem;
  }

  .btn-nav:hover{
    border-bottom: 1px #0050B6 solid;

  }