body {
  margin: 0;

}

#root{
  background-color: #ffffff;

  font-family: 'Roboto ', sans-serif;
  max-width: 100vw;
  min-height:100vh ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
p{
  margin: 0;
}

h1{
  font-family: 'Archivo Black', sans-serif;  

  margin: 0;
}
.modal-box{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal-message{
  color: white;
  padding: 2%;
  background-color: #DC1A22;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

.button-6 {
  align-items: center;
  background-color:unset;
  border: 1px solid #0050B6;
  color:#0050B6;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-6:hover,
.button-6:focus {
  border-color: #0050B6;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color:#0050B6;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color:#0050B6;
  transform: translateY(0);
}
    @media (max-width: 920px) {
        .product-card {
          flex: 1 21%;
        }
      
        .products .product-card:first-child,
        .products .product-card:nth-child(2) {
          flex: 2 46%;
        }
      }
      
      @media (max-width: 600px) {
        .product-card {
          flex: 1 46%;
        }
      }
      
      @media (max-width: 480px) {
        h1 {
          margin-bottom: 20px;
        }
      
        .product-filter {
          flex-direction: column;
        }
      
        .sort {
          align-self: flex-start;
        }
      }