
  .spinner::after {
    content: '';
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 45% ;
    border-radius: 50%;
  }
  
  .spinner.smooth::after {
    border-top: 10px solid rgb(0, 0, 0);
    border-left: 10px solid rgb(0, 0, 0);
    border-right: 10px solid rgba(255, 255, 255, 0.0);
    animation: spinner .6s linear infinite;
  }

  .loadingContainer{
    padding-left: 1000px;
  }
  
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  