.login-container{
        padding: 15% 0 12% 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
      
}

.login-box{
    padding: 1% 0 1% 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgb(255, 255, 255);
}

.img2{
    width: 500px;

}

.login{
    text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }

    .login >p{
        font-size: 0.7rem;
        color: grey;
        transition: all ease-in-out 0.2s;
        font-weight: bold;
        
    }

    .login >p:hover{
        cursor: pointer;
        color: black;
        
    }

