.producd-page-container{
    width: 100%;
    padding:  10% 0 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }




.prod-page-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 500px;
    transition: all ease-in-out 0.5s !important;
}

.prod-page-card > img{
    width: 400px;
    height: 400px;
}

.detlais{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}


.text > p{
    color: rgba(128, 128, 128, 0.747);
}