.hero-comp{
    color:#0050B6;
    padding-top: 10%;
    width: 100%;
    background-color: #F1F3F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .hero-content > h1{

    font-size: 5.625rem;
    text-align: left; 
    display: flex;
    margin: 0;
  }
  .hero-content{
    padding-bottom:5% ;
    width: 34%;
    display: flex;
    flex-direction: column;
  
  }
  
  .hero-content > button{
    width: 30%;
  }
  
  .hero-img {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .hero-img > img{
    width: 100%;
  
  }