.hero-comp{
    color:#0050B6;
    width: 100%;
    background-color: #F1F3F2;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
  
  .hero-content h1{
    font-size: 6vw;
    text-align: left; 
    display: flex;
  }
  .hero-content{
    padding-bottom:5% ;
    width: 45%;
    display: flex;
    flex-direction: column;
  
  }

  
  .hero-img {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  .hero-img > img{
    width: 50%;
  
  }

  @media screen and (max-width: 1000px) {
    .hero-content h1{
      line-height: 1.6;
      font-size: 7.5vw;
    }
    .hero-img > img{
      width: 100%;
    }
    
    .hero-content{
      width: 49%;
    }
    .hero-img{
      width: 48%;
    }
    .hero-img > img{
      width: 100%;
    }
  }