
.footer-container{
    height: 200px;
    display: flex;
    font-size: 0.9rem;
    background-color: #DC1A22;
    color: white;
}
.logo{
    margin:  0 auto 0 0;
    width: 10%;
}
.logo > img{
    width: 100%;
}

.footer-content{
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-around;

}

.links{
    display: flex;
    flex-direction: column;
    color: white;
}

