.product-card {
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.card-overlay {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card-overlay:hover {
  opacity: 1;
}
.cardImage {
  position: relative;
}
.cardImage img {
  width: 100%;
}
.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ty {
  color: gray;
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ty + span {
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .card-overlay {
    display: none;
  }
  .product-card {
    cursor: pointer;
    width: 40vw;
  }
}
