/* .product {  
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    flex: 1 12%;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    transition: all ease-in-out  .3s;
  } */



  





.product-card{
  max-height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.card-hover{
  height: 350px;
  width: 250px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
opacity: 0;

}

.card-hover:hover{
opacity: 1;

}
.cardImage{
  height: 85%;

}
.card-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.ty{
  color: gray;
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ty + span{
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 10px;
}