.sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }


.sort > button{
  color: black;
  border: 0;
}



  .price-view{
    width: 100%;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

