.filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

}

.filter > h3{
  margin-top: 0;
}

.filter > button {
  background-color: #ffff;
  font-size: 1.1rem;
  border: 0;
  display: flex;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.463);
  transition: ease-in-out all 0.3s;
}

.filter > button:hover, .filter > button:active, .filter > button:focus {
  color: black;
}

